<!DOCTYPE html>
<html>
<head>
  <title>Rich Browser</title>
  <%= javascript_heads %>
  <%= stylesheet_link_tag    "editor", :plugin => "redmine_hallojs" %>
  <%= hallojs_javascripts %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
